$homepage-carousel-height: 550px;
$homepage-carousel-content-width: 940px;
$homepage-carousel-breakpoint: $medium-and-below;
$homepage-carousel-chevron-height: 60px;


.homepage-carousel {
	position: relative;
	overflow: hidden;

	background: $cr-midgray;

	&__slides {
		@extend %list-reset;

		width: 100%;
	}

	&__slide {
		width: 100%;
	}

	&__figure {
		position: relative;
		overflow: hidden;

		margin: 0;

		width: 100%;
		height: $homepage-carousel-height - ($element-spacing + 15px);	// Minus dot spacing and height

		background-size: cover;
		background-repeat: no-repeat;
	}

	&__image {
		position: absolute;

		top: 0;
		left: 45%;

		width: auto;
		height: 100%;

		transition: opacity $trans-slowest ease-out, transform $trans-slowest ease-out;

		transform: translateX(10%);
		opacity: 0;
	}

	&--visible &__image {
		&--show {
			transform: translateX(0px);
			opacity: 1;
		}

		&--hide {
			transition-duration: $trans-fast;

			transform: translateX(0px);
			opacity: 0;
		}
	}

	&--dragging &__image {
		transition-duration: 0;
	}

	&__bgimage {
		position: absolute;

		top: 0;

		width: 100%;
		height: 100%;

		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;

		transition: opacity $trans-slower ease-out;
		opacity: 0;

		&--show {
			opacity: 1;
		}
	}

	&__caption {
		@include container($size: $homepage-carousel-content-width);

		height: 100%;

		padding: 0 $collapse-padding;
	}

	&__outer {
		display: table;

		width: 40%;
		height: 100%;
	}

	&__inner {
		display: table-cell;
		vertical-align: middle;
	}


	//
	// Inner content
	// ------------------------------------------------------------
	&__title,
	&__summary,
	&__link {
		color: $cr-white;
	}

	&__title {

	}

	&__summary {
		font-weight: 100;
		font-size: 0.9em;
	}

	&__link {
		@include button();
	}


	//
	// Carousel navigation
	// ------------------------------------------------------------
	.owl-controls {
		@include container($type: "large");
	}

	.owl-dots {
		text-align: center;
		line-height: 0;

		margin-bottom: $element-spacing;

		@include media($homepage-carousel-breakpoint) {
			padding: ($element-spacing / 2) 0;
		}
	}

	.owl-dot {
		display: inline-block;

		margin: 0 5px;

		width: 15px;
		height: 15px;

		border: 2px solid $cr-white;
		border-radius: 50%;

		transition: background $trans-fast;
		background: transparent;

		&.active {
			background: $cr-white;
		}
	}

	@include carousel-arrows($height: $homepage-carousel-chevron-height, $color: $cr-white);

	@include media($content-break) {
		.owl-prev,
		.owl-next {
			display: none !important;
		}
	}


	//
	// Mobile/tablet view
	// ------------------------------------------------------------
	@include media($homepage-carousel-breakpoint) {
		&__image {
			display: none;
		}

		&__figure {
			height: auto;
		}

		&__outer {
			@include padding($directions: top left right);

			display: block;
			width: 100%;
		}

		&__inner {
			display: block;
			text-align: center;
		}

		&__title,
		&__summary,
		&__link {
			text-align: center;
		}

		&__summary {
			font-size: 1em;
			
			max-width: 450px;
		}
	}
}
