//
// Colours
// ------------------------------------------------------------/

$cr-white: #fff;
$cr-darkgray: #ebebeb;
$cr-gray: #999;
$cr-midgray: #717171;
$cr-lightgray: #464646;

$cr-border: #e7e7e7;

$cr-orange: #ec7327;
$cr-green: #acd373;
